BasedOnStyle: LLVM

ColumnLimit: 140

ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
IndentWidth: 4
IndentRequires: true
IndentPPDirectives: BeforeHash
IndentCaseLabels: true



AlwaysBreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
BreakBeforeConceptDeclarations: Always

AllowShortIfStatementsOnASingleLine: WithoutElse

BinPackArguments: false
AllowAllParametersOfDeclarationOnNextLine: false

Cpp11BracedListStyle: false
AlignAfterOpenBracket: AlwaysBreak

AlignOperands: AlignAfterOperator
BreakBeforeBinaryOperators: NonAssignment
PenaltyIndentedWhitespace: 0

PointerAlignment: Left