/Bin
/Include
/TestData
/HDF
/.vscode
*.pdb
*.obj
/.vs
/.vscode.zip
*.json
/x64
*.props
*.sln
*.vcxproj*
/PyNNDescent-Comparison
/vsProject
default.profraw
nnd.profdata
perf.data
perf.data.old
workspace.code-workspace
/Saved-Indecies
/build
/ext/catch2/*